@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-family: "Roboto", serif;
    font-optical-sizing: auto;
    background: white;
    color: rgba(0, 0, 0, 0.7);
}

.container {
    width: 95%;
    margin: auto;
}